* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pick-news {
  margin: 0%;
}

:root {
  --primarywhite: #fff;
  --secondaryblue: #021c37;
}

body {
  background-color: var(--primarywhite);
  margin: 0 auto;
}

.text-align {
  text-align: center;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(150px, auto);
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(150px, auto);
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
img {
  display: block;
  overflow: hidden;
}
.grid-4 img {
  width: 100%;

  /* display: block; */
}

a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
}

.web-header img {
  mix-blend-mode: multiply;
  aspect-ratio: 3/3;
  width: 80px;
  height: 80px;
  margin: 0 30px;
}
.web-header h1 {
  margin: auto 0;
}
header i {
  color: black;
  padding: 0 5px;
  cursor: pointer;
}
.social-icons {
  text-align: right;
  flex-grow: 1;
  margin-right: 30px;
}
header {
  background-color: var(--secondaryblue);
  background-color: white;
  color: black;
}

.web-header {
  height: 80px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  align-items: center;
}

nav {
  height: 60px;

  justify-content: space-around;
  background-color: var(--secondaryblue);
  align-items: flex-end;
}
nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin-bottom: 5px;
}

nav a:hover {
  font-weight: bold;
  border-bottom: 2px solid white;
  color: #fff;
}

.breakingnews-section {
  background-color: var(--secondaryblue);
  color: var(--primarywhite);
  padding: 0 30px 0 40px;
  display: flex;
}

.breakingnews-section a:hover {
  color: #fff;
}
#firstnews {
  width: 200px;
  align-items: center;
  font-weight: bold;
  margin-top: auto 0;
  margin-left: 50px;
  color: brown;
  align-self: center;
}

.first-news {
  color: white;
  display: inline-block;
  padding: 30px;
  font-weight: bold;
}

.ttime {
  display: inline-block;
  padding-right: 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}

/* main */

main {
  margin: 40px auto;
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(150px, auto);

  margin: 0 20px;
  gap: 10px;
}
.featured {
  grid-column: 1/3;
  grid-row: 1/4;
  display: grid;
  row-gap: 5px;

  grid-auto-rows: max-content;
}
.featured p {
  font-size: 30px;
  font-weight: bold;
  padding-left: 10px;
}
.featured-img {
  grid-column: 1/3;

  column-gap: 5px;
  grid-row: 1/3;
}
.featured-text {
  grid-column: 1/3;
  font-weight: bold;

  font-size: 30px;
}

.featured-img h1 {
  background-color: blue;
}
.latest {
  grid-column: 3/5;
  grid-row: 1/4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  grid-auto-rows: max-content;
}
.pick-news {
  background-color: red;
  grid-row: 3/4;
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
}

.newsgrid {
  margin: 20px 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(150px 400px);
}

.closerlook {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, 100px);
  row-gap: 5px;
}

.gridthis {
  grid-column: 1/2;
}
.closerlook img {
  /* width: 100%; */
  height: 100%;
}

.important {
  grid-column: 2/5;
}
.major {
  grid-column: 1/2;
  grid-row: 2/3;
}
.definite {
  grid-column: 2/5;

  grid-row: 2/3;
}
.majornews {
  grid-column: 1/2;

  grid-row: 3/4;
}
.major-news {
  grid-column: 2/5;

  grid-row: 3/4;
}

.grid-this {
  grid-column: 1/2;
  grid-row: 4/5;
}
.definite-news {
  grid-column: 2/5;

  grid-row: 4/5;
}
.paragraph {
  grid-column: 1/5;

  grid-auto-rows: min-content;
}

.watch-grid {
  display: flex;
  align-items: center;
}
.watch-grid a {
  color: var(--secondaryblue);
}
.watchnow {
  text-transform: capitalize;
  display: inline-block;
}
.closerlook p {
  font-size: 16px;
  font-weight: bold;
  padding: 0 10px;
  margin: auto;
}

.blink {
  align-self: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  opacity: 0.9;
  background-color: red;
  -webkit-animation: blink 1.5s infinite;
  -moz-animation: blink 1.5s infinite;
  -o-animation: blink 1.5s infinite;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0% {
    transform: scale(1);
    opacity: 0.25;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.25;
  }
  75% {
    opacity: 0.1;
  }
  75% {
    transform: scale(1);
    opacity: 0.15;
  }
}

.popular-news h5 {
  font-size: 23px;
  color: white;
  font-weight: bold;
  margin: 25px auto;
}
.popular-news {
  flex-wrap: wrap;
}
.carousel-caption {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.ongoing img {
  filter: brightness(0.7);
}

aside img {
  width: 200px;
  /* aspect-ratio: 3/2; */
  object-fit: contain;
}
.morenews {
  background-color: var(--secondaryblue);
  color: #fff;
}

.news-section {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(150px 400px);

  margin: 0 10px;
  column-gap: 10px;
}
.news-section img {
  width: 100%;
}
.news-section h2 {
  padding: 5px 0;
}
.politics {
  grid-column: 1/4;
}
.world {
  grid-column: 4/7;
}
aside {
  border: 1px solid;
  grid-column: 7/9;
  margin: 3px auto;
  padding: 5px;
}

.li {
  margin-top: 50px;
}
.news-section h3 {
  margin-top: 10px;
}
.aside-news p {
  font-size: 14px;
  font-weight: bold;
}

.social-links {
  display: flex;
  padding: 5%;
  justify-content: space-between;
}
.social-links section {
  flex-basis: 30%;
}

.insta {
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-column: 1px;
  padding-bottom: 8px;
  margin-right: 10px;
  margin-left: 10px;
}
.social-links img {
  width: 175px;
}
.social-icon-footer i {
  font-size: 30px;
  padding: 5px;
}
.email {
  padding-left: 5px;
}
.social-links h2 {
  padding: 5px;
}
.footer-button {
  padding: 5px 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 14px;
  margin-left: 10px;
}

.footer-button:hover {
  background-color: #2196f3;
  color: #fff;
}

.email {
  margin: 5px 0;
}

.copyright {
  justify-content: centre;
  background-color: #021c37;
  color: white;
  text-align: center;
  padding: 10px;
}

/* TABLETS */

@media (max-width: 845px) {
  .newsgrid {
    display: flex;
    flex-direction: column;
  }

  .ongoing {
    margin-bottom: 20px;
  }
  .carousel-caption {
    font-size: 16px;
    color: #021c37;
  }
  .closerlook img {
    width: 180px;
    object-fit: cover;
    padding: 0%;
    margin-right: 2px;
  }
  .closerlook p {
    font-size: 15px;
  }
}

@media (max-width: 748px) {
  .grid-4 {
    display: flex;
    flex-direction: column;
  }
  .grid-4 h1 {
    padding: 5px;
    font-size: 26px;
  }
  .featured-text {
    font-size: 20px;
  }
  .pick-news {
    font-size: 20px;
  }
  .latest {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .newsgrid {
    display: flex;
    flex-direction: column;
  }
  .ongoing {
    margin-bottom: 20px;
  }
  .carousel-caption {
    font-size: 16px;
    color: #021c37;
  }
  .closerlook img {
    width: 180px;
    object-fit: cover;
    padding: 0%;
    margin-right: 2px;
  }
  .closerlook p {
    font-size: 15px;
  }
  .blink {
    width: 15px;
    height: 15px;
    margin-bottom: 20px 0;
  }
  .news-section {
    margin: auto 10px;
  }
  .aside-news p {
    width: 250px;
  }
  .news-section h2 {
    font-size: 24px;
  }
  .news-section h3 {
    font-size: 20px;
  }
  .aside-news img {
    width: 150px;
  }
  .aside-news p {
    width: 150px;
  }
  .social-links {
    display: flex;
    flex-direction: column;
  }

  .about p {
    font-size: 15px;
  }
  .social-icon-footer i {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .insta {
    margin: 0;

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .social-links h2 {
    margin: 15px auto;
  }
  .social-links button {
    margin: 5px auto;
  }

  input {
    outline: none;
  }
}

/* MOBILE */

@media (max-width: 600px) {
  .web-header img {
    width: 35px;
    height: 35px;
    /* padding: 5px; */
  }
  .web-header h1 {
    font-size: 15px;
  }
  .breakingnews-section {
    padding: 10px;
    flex-wrap: wrap;
    height: 120px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #firstnews {
    margin-top: 20px;

    margin-left: 0;
    padding-left: 8px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .first-news {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .grid-4 {
    display: flex;
    flex-direction: column;
  }
  .grid-4 h1 {
    padding: 5px;
    font-size: 22px;
  }
  .featured-text {
    font-size: 18px;
  }
  .pick-news {
    font-size: 18px;
  }
  .latest {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .newsgrid {
    display: flex;
    flex-direction: column;
  }
  .ongoing {
    margin-bottom: 20px;
  }
  .carousel-caption {
    font-size: 16px;
    color: #021c37;
  }
  .closerlook img {
    width: 120px;
    object-fit: cover;
  }
  .closerlook p {
    font-size: 15px;
    margin: 15px 2px;
  }
  .blink {
    width: 12px;
    height: 12px;
    margin: auto 0;
  }
  .news-section {
    display: flex;
    flex-direction: column;
    margin: auto 10px;
  }
  .aside-news img {
    width: 250px;
  }
  .aside-news p {
    width: 250px;
  }
  .news-section h2 {
    font-size: 24px;
  }
  .news-section h3 {
    font-size: 20px;
  }

  .social-links {
    display: flex;
    flex-direction: column;
  }

  .about p {
    font-size: 15px;
  }
  .social-icon-footer i {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .insta {
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .social-links h2 {
    margin: 15px auto;
  }
  .social-links button {
    margin: 5px auto;
  }

  input {
    outline: none;
  }
}
